
body{
    font-family:'Times New Roman', Times, serif;
    background-image: url(ima.png);
    height: auto;;
    font-size: 20px;
    color: bisque;
}
ul{
    list-style-type: none;
    position: relative;
    top: 0;
   padding-left: 0;
   margin-left: 0;
   margin: auto;
   margin-top: 0px;
   width: 100%;
    overflow: hidden;
    background-color: #1f2f39;
}
li{
    float: right;
}
li a {
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: 4e849b;

}
footer{
    background-color:#1f2f39 ;
    color: bisque;
}
footer a {
color: bisque;
}

